body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
li::first-letter {
  text-transform: capitalize;
}

.main-box,
#background-images {
  border: 1px solid rgb(116, 116, 128, 0.4);
  border-radius: 5px;
  max-width: 600px;
  margin: 25px auto;
  padding: 35px;
  background-size: auto 749px;
  background-repeat: no-repeat;
  background-position: center center;
}
.sunrise {
  background: url("../media/background/sunrise.jpg");
}
.before-noon {
  background: url("../media/background/before-noon.jpg");
}
.noon {
  background: url("../media/background/noon.jpg");
}
.noon .weather-more {
  color: black;
}
.before-sunset .weather-more {
  color: #260069;
}
.before-sunset {
  background: url("../media/background/before-sunset.jpg");
}

.sunset {
  background: url("../media/background/sunset.jpg");
}

.night {
  background: url("../media/background/night.jpg");
}
.enter-city {
  position: relative;
  margin-top: 20px;
  max-width: 450px;
  min-width: 350px;
  height: 40px;
}

.inner-input {
  background-color: #f0fbff;
  border-color: #6c96bc;
  position: relative;
}

.search-button {
  position: relative;
  box-sizing: border-box;
  right: 80px;
  color: #38729f;
  border-color: #8bb0c0;
  background-color: #fafafa;
  transition: all 150ms solid;
}
.search-button:focus {
  background-color: #fafafa;
  color: #38729f;
}
.search-button:hover {
  background: #718393;
  transition: all 150ms solid;
}

.current {
  position: relative;
  left: -80px;
  background: #d7d1b9;
  border-style: none;
  transition: all 150ms solid;
}
.current:focus {
  background: #d7d1b9;
  color: black;
}
.current:hover {
  transition: all 150ms solid;
  background: #347474;
}

.city-country {
  font-size: 24px;
  font-weight: 540;
}
#current-date {
  font-size: 18px;
  font-weight: 540;
  opacity: 0.8;
}
.weather-more {
  margin: 40px -10px;
  background-color: rgb(116, 116, 128, 0.4);
  border-radius: 5px;
  color: #f0fbff;
}

.temp-now-icon {
  position: relative;
  left: 85px;
  top: -10px;
  max-width: fit-content;
}
.last-updated {
  opacity: 0.6;
}
#description {
  opacity: 0.7;
  font-size: larger;
}

#icon {
  position: relative;
  left: -43px;
  width: 60px;
}
#current-temp {
  position: relative;
  right: 29px;
  top: 8px;
  font-size: 36px;
  font-weight: bolder;
}

.weather-units {
  position: relative;
  font-size: 18px;
  top: -5px;
  left: -22px;
  min-width: fit-content;
}
.detail-line {
  position: relative;
  top: 1px;
  left: 18px;
  font-size: 16px;

  opacity: 0.8;
}
.additional-units {
  position: relative;
  top: 1px;
  left: 24px;
  font-size: 23px;
}
#wind {
  position: relative;
  left: 23px;
}
#mph {
  position: relative;
  left: 20px;
  font-size: smaller;
}
.wind-feels-like {
  position: relative;
  top: 1px;
  right: 35px;
  box-sizing: border-box;
}

section {
  color: #f0fbff;
  background-color: rgb(116, 116, 128, 0.4);
  border-radius: 5px;
}
.weather-forecast-date {
  opacity: 0.8;
}
.weather-forecast-temp-min {
  opacity: 0.8;
}

.alert {
  color: white;
  font-size: 15px;
  text-align: center;
  padding: 0px auto;
  margin: 10px auto;
  text-transform: uppercase;
  max-width: 600px;
}
.alert-more-info {
  text-align: center;
  border-radius: 5px;
  color: white;
  padding: 5px;
  margin: 0 auto;
  text-transform: uppercase;
  max-width: 600px;
}
.my-image {
  width: 60px;
  border-radius: 50%;
  max-width: 600px;
  margin: 25px auto;
  display: block;
  text-align: center;
}
.coded-by {
  display: block;
  text-align: center;
  font-size: smaller;
  max-width: 600px;
  margin: 25px auto;
}
