body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
li::first-letter {
  text-transform: capitalize;
}
.main-box {
  border: 1px solid grey;
  border-radius: 5px;
  max-width: 600px;
  margin: 25px auto;
  padding: 35px;
  background: url("../media/nature-background.jpg");
  background-size: 1200px;
}

.enter-city {
  position: relative;
  margin-top: 20px;
  max-width: 450px;
  min-width: 350px;
  height: 40px;
}

.inner-input {
  background-color: #f0fbff;
  border-color: #6c96bc;
  position: relative;
}

.search-button {
  position: relative;
  box-sizing: border-box;
  right: 80px;
  color: #38729f;
  border-color: #8bb0c0;
  background-color: #fafafa;
  transition: all 150ms solid;
}
.search-button:hover {
  background: #718393;
}
.detail-line {
  text-decoration: underline #25527a;
  font-size: 22px;
  font-weight: 450;
}
.additional-units {
  font-size: 19px;
  font-weight: bolder;
}
.feels-like {
  position: relative;
  left: 27px;
}

.temp-dot {
  position: relative;
  left: 30px;
}

.current {
  position: relative;
  left: -80px;
  background: #d7d1b9;
  border-style: none;
}
.current:hover {
  transition: all 150ms solid;
  background: #347474;
}
.city-country {
  font-size: 24px;
  font-weight: 540;
}
#current-date {
  font-size: 20px;
  font-weight: 530;
}
.weather-more {
  margin: 40px -10px;
}
#icon {
  position: relative;
  left: -37px;
  width: 78px;
}
#current-temp {
  position: relative;
  left: -52px;
  top: 8px;
  font-size: 36px;
  font-weight: 450;
}

.weather-units {
  position: relative;
  font-size: 12px;
  font-weight: bold;
  top: -11px;
  left: -58px;
  min-width: fit-content;
}
.active {
  cursor: default;
  color: rgb(33, 33, 33);
}
.active:hover {
  text-decoration: none;
}
section {
  color: #f0fbff;
}
.emoji {
  font-size: 30px;
}
.my-image {
  width: 60px;
  border-radius: 50%;
  max-width: 600px;
  margin: 25px auto;
  display: block;
  text-align: center;
}
.coded-by {
  display: block;
  text-align: center;
  font-size: smaller;
  max-width: 600px;
  margin: 25px auto;
}
